#title{
  background-color: #ff4c68;
  color:"#fff";
}
.container-fluid{

}
.title-image{
  width:40%;
  transform: rotate(25deg);
}
body{
  font-family: "Ubuntu";
}
h1{
  font-family: "Montserrat-Black",sans-serif;
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: bolder;
  color:white;
}
h2{
  font-family:"Montserrat-Bold";
  fomt-size:3rem;
  font-weight: bold;
  line-height:1.5;
  color:#1f1f1f1f;
}
h3{
  font-family: "Montserrat-Bold";
  font-size:1.5rem;
  font-weight:bolder;
}
p{
  color:#8f8f8f;
}
/*Navigation bar*/
.navbar{
  padding: 0 0 0 4.5rem;

}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight:bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
/*Downloadbuttons*/
.Download-button{
  margin: 5% 3% 5% 0;
}
/*features*/
#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#ef8172;
  padding-bottom: 10px;
}
.icon:hover{
  color:#ff4c68
}
#testimonials{
  padding: 7% 15%;
  text-align:center;
  background-color: #ef8172;
  color:#fff;
}
.testimonial-img{
  width: 15%;
  border-radius: 100%;
  padding: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3%;
}
.press-logo{
  width:15%;
  padding:20px 20px 50px;
}
.carousel-item{
  padding:5% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col
{
  padding:3% 2%;
}
